{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script window.CSRF_TOKEN = "{{ csrf_token }}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="{% static 'admin/css/orders_e_admin.css' %}"> 
</head>
<nav class="nav flex-column">
        <a class="nav-link" href="{% url 'employer_admin:home' %}">Home</a>
        <a class="nav-link" href="{% url 'employer_admin:profile' %}">Profile</a>
        <a class="nav-link" href="{% url 'employer_admin:product_admin' %}">Products</a>
        <a class="nav-link active" href="{% url 'employer_admin:order' %}">Orders</a>
        <a class="nav-link" href="#">Stastics</a>
</nav>
<body>
<script>
var wsStart='wss://';
var endpoint=wsStart + window.location.host +"/ws/"+ window.location.pathname;
console.log(window.location.pathname);
var socket = new WebSocket(endpoint);
console.log(endpoint);
socket.onopen =function(e){
console.log('open',e.data);
socket.send(1);
}


socket.onmessage=function(e){
console.log('message',e.data);
socket.send(1);

}

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>