/* The side navigation menu */
.nav {
    position: fixed;
    left:0%;
    top:0%;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  body{
    font-family:--bs-font-sans-serif;
  }
  
  /* Sidebar links */
  .nav-link {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
 .nav-link.active{
    background-color: rgb(0, 217, 255);
    color: white;
  }
  /* Links on mouse-over */
.nav-link:hover:not(.active) {
    background-color: #555;
    color: white;
  }